.recetas__card {
  display: inline-block;
  margin: 1em;
  padding: 1em;
  border: solid 1.5px $dark-green;
}

div p:nth-child(2) {
  color: $gray;
}

#ingredientsCarousel img {
  width: 80%;
}

section {
  background-color: $yellow;
}

.us--container {
  padding: 5em 10em;
}

#features {
  font-weight: $bold;
  color: $brown;
}
