.container__valoracion {
  text-align: center;
}

.title__valoracion {
  color: $yellow;
  text-shadow: 0 0 0.2em $gray, 0 0 0.2em $gray,
		0 0 0.2em $gray;
}

p.valoracion {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

p.valoracion input {
  position: absolute;
  top: -100px;
}

p.valoracion label {
  float: right;
  color: $gray;
  margin-left: .5em;
  margin-right: .5em;
}

p.valoracion label:hover,
p.valoracion label:hover ~ label,
p.valoracion input:checked ~ label {
  color: $bgreen;
}
