.us--container h5 {
    font-family: $montserrat;
    font-size: $large;
    color: $brown;
    font-weight: $bold;
    margin: 2em auto;
  }

.us--container  li {
    font-family: $montserrat;
    font-size: $large;
    color: $brown;
    font-weight: $black;
    text-align: left;
}
