 // Tipografía
 $mansalva: 'Mansalva', cursive;
 $montserrat: 'Montserrat', sans-serif;

 //Peso de fuentes
 $regular: 400;
 $bold: 700;
 $black: 900;

 //Tamaños de fuentes
 $xx-large: 70px;
 $x-large: 40px;
 $large: 25px;
 $medium: 18px;
 $small: 12px;

//Esquema de colores
$white: #FFF;
$gray: #BABABA;
$black: #000;

$dark-green: #7AAB34;
$green: #C9E165;

$brown: #B77B0C;
$yellow: #EEF987;
